html, body {
    margin: 0; padding: 0;
    font-family: DM Sans;
    background-color: #33afa9;
}

header {
    padding: 30px;
    margin-bottom: 30px;
}

.logo a {
    text-decoration: none;
    color: #17252a;
}

nav {
    float: right;
    padding-top: 10px;
}

nav li a {
    color: #17252a;
    text-decoration: none;
}

nav li a:hover {
    color: #2b4350;
}

nav #active a {
    text-decoration: underline;
}

nav ul, #footer-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

nav li, #footer-links li {
    margin: 0 5px;
    display: inline-block;
}

footer {
    padding: 50px 30px;
    color: #17252a;
    font-size: .8em;
    margin-top: 30px;
}

footer #footer-links {
    float: right;
    text-align: right;
}

footer #footer-links a {
    text-decoration: none;
    color: #17252a;
}

footer #footer-links a:hover {
    color: #2b4350;
}

.title {
    margin-top: 50px;
}

#top-3 {
    text-align: center;
}

.container {
    width: 800px;
    margin: 0 auto;
}

@media all and (max-width: 860px) {
    .container {
        width: 500px;
    } 
}
  
@media all and (max-width: 560px) {
    .container {
      width: 100%;
    }
}

@media all and (max-width: 360px) {
    /* Header */
    header .container { text-align: center; }
    nav { float: none; }
    
    /* Footer */
    footer .container { text-align: center; }
    footer #footer-links { float: none; text-align: center; }
}