html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0; padding: 0;
    font-family: DM Sans;
    background-color: #33afa9;
}

/* ##### Header ##### */
header {
    padding: 30px;
    margin-bottom: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

nav a {
    color: #17252a;
    text-decoration: none;
}

nav a:hover {
    color: #def2f1;
}

.logo {
    align-self: flex-start;
    margin-left: 10%;
    font-size: 32px;
    font-weight: bold;
}

.nav-links {
    align-self: flex-end;
    margin-right: 10%;
}

.nav-links a {
    margin-right: 120px;
    font-size: 21px;
    font-weight: 500;
}

nav #active a {
    text-decoration: underline;
}
/* ########## */


/* ##### Footer ##### */
footer {
    padding: 30px;
    margin-top: auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-content a {
    color: #17252a;
    text-decoration: none;
}

.footer-content .name {
    align-self: flex-start;
    margin-left: 10%;
    font-size: 21px;
    font-weight: 500;
}

.footer-content .footer-links {
    align-self: flex-end;
    margin-right: 10%;
}

.footer-content .footer-links a {
    margin-right: 20px;
    font-size: 21px;
    font-weight: 500;
}

.footer-content .footer-links a:hover {
    color: #def2f1;
}
/* ########## */


/* ##### Content ##### */
#content {
    display: flex;
}

.title {
    margin-left: 25%;
    margin-right: auto;
    margin-top: 5%;
    font-size: 60px;
    font-weight: 500;
}

.title .row {
    display: flex;
}

.title .row a {
    margin-right: 10px;
}

.text {
    margin-left: auto;
    margin-right: 20%;
    margin-top: 10%;
    font-size: 32px;
}
/* ########## */


.container {
    width: 100%;
    margin: 0 auto;
}

/* @media all and (max-width: 860px) {
    .container {
        width: 500px;
    } 
} */

/* @media all and (max-width: 560px) {
    .container {
        width: 100%;
    }
} */

/* @media all and (max-width: 360px) {
    header .container { text-align: center; }
    nav { float: none; }
    
    footer .container { text-align: center; }
    footer #footer-links { float: none; text-align: center; }
} */