html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0; padding: 0;
    font-family: DM Sans;
    background-color: #33afa9;
}

/* ##### Header ##### */
header {
    padding: 30px;
    margin-bottom: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

nav a {
    color: #17252a;
    text-decoration: none;
}

nav a:hover {
    color: #def2f1;
}

.logo {
    align-self: flex-start;
    margin-left: 10%;
    font-size: 32px;
    font-weight: bold;
}

.nav-links {
    align-self: flex-end;
    position: relative;
    right: 4%;
}

.nav-links a {
    margin-right: 120px;
    font-size: 21px;
    font-weight: 500;
}

nav #active {
    text-decoration: underline;
}
/* ########## */


/* ##### Footer ##### */
footer {
    padding: 30px;
    margin-top: auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-content a {
    color: #17252a;
    text-decoration: none;
}

.footer-content .name {
    align-self: flex-start;
    margin-left: 10%;
    font-size: 21px;
    font-weight: 500;
}

.footer-content .footer-links {
    align-self: flex-end;
    margin-right: 10%;
}

.footer-content .footer-links a {
    margin-right: 20px;
    font-size: 21px;
    font-weight: 500;
}

.footer-content .footer-links a:hover {
    color: #def2f1;
}
/* ########## */


/* ##### Content ##### */
#content {
    display: flex;
    flex-direction: column;
}

.Project1 {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 11.5%;
    margin-right: auto;
}

.Project2 {
    display: flex;
    flex-direction: row;
    margin-top: 12%;
    margin-left: 11.5%;
    margin-right: auto;
}

.ProjectIncoming {
    margin-top: 12%;
    margin-bottom: 5%;
    text-align: center;
    position: relative;
}

.Text {
    max-width: 30%;
}

.ProjectName {
    color: #17252A; 
    font-size: 18px;
    font-weight: 500;
}

.Text1 {
    color: #17252A; 
    font-size: 18px;
}

.Text2 {
    color: #17252A; 
    font-size: 14px;
}

.Text3 {
    color: #17252A;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}

.Image {
    width: 575px;
    height: 323px; 
    border-radius: 15px;
    position: relative;
    left: 40%;
}

.Image:hover {
    scale: 1.1;
}

.Link {
    color: #17252A; 
    font-size: 18px;
    font-weight: 500;
}

.Seperator {
    position: relative;
    top: 25%;
    margin-left: 50%;
    margin-right: auto;
    width: 200%;
    height: 0px; 
    border: 1px #17252A solid;
}

.Rectangle {
    width: 273px; 
    height: 60px; 
    opacity: 0.25; 
    background: #DEF2F1; 
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* ########## */


.container {
    width: 100%;
    margin: 0 auto;
}

@media all and (max-width: 860px) {
    .container {
        width: 500px;
    } 
}

@media all and (max-width: 560px) {
    .container {
        width: 100%;
    }
}

@media all and (max-width: 360px) {
    header .container { text-align: center; }
    nav { float: none; }
    
    footer .container { text-align: center; }
    footer #footer-links { float: none; text-align: center; }
}